/* reset default style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus,
:hover,
:active {
    outline: none;
}

/* typography */
body,
h2,
.title {
    font-family: Montserrat, Poppins, sans-serif;
    letter-spacing: .8px;
}

.form-sec .form-title {
    font-size: 22px;
}

.form-sec div input,
.form-sec button {
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.form-sec .forgot-link,
.form-sec .forgot-link a,
.send-to a {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 400;
}

/* form container */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, #ffffff, #fafafa)
}

/* form wrapper */
.form-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 860px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #e9e9e9;
}

.form-wrapper .form-sec,
.form-wrapper .image-sec {
    margin: 0 40px;
}

/* image section */
.image-sec a img {
    width: 100%;
}

/* form form */
.form-sec {
    max-width: 300px;
}

.form-sec .form-title {
    text-align: center;
    margin-bottom: 40px;
    color: #747373;
}

.form-sec div {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    background: #ddd;
    border: 0;
    border-radius: 50px;
}

.form-sec div span {
    color: #747373;
    font-size: 18px;
}

.form-sec div input {
    padding: 5px 5px 5px 10px;
    border: 0;
    color: #242424;
    background-color: transparent;
}

.form-sec button {
    width: 100%;
    height: auto;
    padding: 15px 10px;
    margin-top: 20px;
    color: #fafafa;
    background: #57B846;
    border: 0;
    border-radius: 50px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.form-sec button:hover {
    background-color: #747373;
}

.form-sec .forgot-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #aaa;
}

.form-sec .forgot-link a {
    color: #747373;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.form-sec .forgot-link a:hover {
    color: #57B846;
    text-decoration: underline;
}

/* bottom link */
.send-to a {
    display: flex;
    align-items: center;
    position: absolute;
    right: 60px;
    color: #747373;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.send-to a:hover {
    color: #57B846;
    text-decoration: none;
}

/* media query */
@media (max-width: 830px) {
    .container {
        align-items: flex-start;
    }
    .form-wrapper {
        width: 100%;
        padding: 0;
    }
    .form-wrapper .image-sec {
        display: none;
    }
}